:root {
    --font-color: #FFF;
    --bg-color: linear-gradient(180deg,rgba(50,94,189,.913603),rgba(25,107,138,.779149) 60%,rgba(0,172,255,.319765));
    --color-black: #000;
    --color-green: #32a848;
    --color-blue-fade: #94d6f7;
    --font-weight-title: 500;
}