.wheatherStatusContainer {
    height: 60%;
    &__info {
        display: flex;
        align-items: center;
        height: 60%;
        width: 50%;
        margin: 0 auto;
        &-detail {
            margin-left: 2.7rem;
            height: 80px;
            width: 180px;
            display: flex;
            flex: 1 1;
            flex-direction: column;
            justify-content: space-between;
            .status__detail  {
                display: flex;
                justify-content: space-between;
                &-temp::before {
                    content: '$';
                    // background-image: ;
                }
                &-humidity::before {
                    content: '$';
                    // background-image: ;
                }
            }
        }
    }
}
.wheatherStatusContainerDetail {
    display:flex;
    justify-content: space-around;
    &__detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100px;
        justify-content: space-between;
    }
}