.header {
  max-width: 100%;
  width: 100%;
  .headerContainer {
    display: grid;
    max-width: 100vw;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.75rem 0.75rem;
    &__hamburgerMenu {
        cursor: pointer;
    }
    &__selectLocation {
        text-align: center;
        
    }
    &__notification {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
  }
}